* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: hsl(0, 0%, 94%);
  background-color: hsl(284, 93%, 47%);
  line-height: 1.5;
  width: 100%;
}

ul {
  list-style-type: none;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 1.5em;
}

abbr,
acronym {
  border-bottom: .0625rem dotted hsl(0, 0%, 40%);
  cursor: help;
}

mark,
ins {
  background: hsl(54, 100%, 88%);
  text-decoration: none;
}

/* ------------------------------------------------------------------------- footer ---- */

footer {
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

footer div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding-top: 15px;
}

footer ul {
  list-style: none;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

footer a:hover {
  color: yellowgreen;
}

